<div class="py-6 grid grid-cols-3 gap-2 overflow-y-scroll max-h-[calc(100vh-80px)]">
  <div class="col-span-3 bg-realty-cream-400 p-2 rounded-lg mb-4 flex items-center gap-3 justify-center md:justify-start">
    <span class="text-gray-600 font-semibold capitalize">Filter by :</span>
    <app-drop-down
    />
  </div>
  @for (property of properties(); track $index) {
        <app-card
          [property]="property"
          appScrollObserver
          class="mb-6 animate-fade-in-up col-span-3 md:col-span-1"
        />
}
</div>
